**/html
*.bundle
*.d
*.log
*.o
*.orig
*.tar
*~
.coverage_*
.pytest_cache
.vscode
__pycache__
admin-pass.txt
apriltag-cam[0-9].json
autocalibration/build
controller/build
datasets
db
db.sqlite3
db-backup-*
docker/.mosquitto-go-auth-build
docker/build
manager/build
manager/src/static/assets
manager/src/static/bootstrap*
manager/src/static/examples
docker/geckodriver.tar.gz
docker/jslibs
docker/l_openvino*
docker/LICENSE
docker/mosquitto-go-auth
docker-compose.yml
kubernetes/setup/
media
migrations
models
percebro/build
pvd-mqtt/detect
sample_data/xREF_*
secrets
test_data
test_reports/
tests/perf_tests/input/*.json
