**/html
*.bundle
*.d
*.log
*.o
*.orig
*.tar
*~
.coverage_*
.pytest_cache
.vscode
__pycache__
admin-pass.txt
apriltag-cam[0-9].json
autocalibration/scene_common
controller/scene_common
controller/utils
datasets
db
db.sqlite3
db-backup-*
docker/.mosquitto-go-auth-build
manager/static/assets
manager/static/bootstrap*
manager/static/examples
docker/geckodriver.tar.gz
docker/jslibs
docker/l_openvino*
docker/LICENSE
docker/mosquitto-go-auth
docker-compose.yml
kubernetes/setup/
media
migrations
models
percebro/scene_common
percebro/utils
pvd-mqtt/detect
sample_data/xREF_*
secrets
sscape/migrations/[0-9][0-9][0-9][0-9]_*.py
sscape/secrets.py
sscape/static/assets
sscape/static/bootstrap
sscape/static/examples
test_data
test_reports/
tests/perf_tests/input/*.json
