# Keep package list in alphabetical order
addict
coverage
dt-apriltags
h5py
intel_extension_for_pytorch==2.6.0
intel-openmp==2022.2.1
kornia
kubernetes
numpy>=1.16.6,<=1.26.4
onvif-zeep
open3d-cpu
opencv-python
paho-mqtt
pillow
pybind11
pycolmap==0.4.0
pytest
pyyaml
scipy>=1.4.0
trimesh
torch==2.6.0
torchvision==0.21.0
