{% extends 'sscape/base.html' %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Scenes</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">New Scene</li>
  </ol>
</nav>

<div id="createSceneForm" class="card width-100">
  <h5 class="noselect card-header">New Scene</h5>
  <div class="card-body">
    <form enctype="multipart/form-data" class="" method="post">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group row" id="{{ field.name }}_wrapper">
        <label class="col-sm-2 col-form-label" id="label_{{ field.name }}" for="id_{{ field.name }}">{{field.label}}</label>
        <div class="col-sm-10">
          {{ field.errors }}
          {{ field }}
        </div>
      </div>
      {% endfor %}

      <div class="form-group row" id="save_scene_create">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <input class="btn btn-primary" id="save" type="submit" value="Save New Scene" />
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
