html, body {
    margin: 0;
    height: 100%;
    background-color: #222;
}

body {
    padding-top: 0;
    padding-bottom: 5rem;
}

#scene {
    width: 100%;
    height: 100%;
    display: block;
}

#scene-controls-3d {
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    margin: 0 0;
    background-color: #000;
    color: #fff;
    opacity: 0.8;
}

#toggle-scene-controls-3d {
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    font-size: x-small;
    padding: 0.1rem 0.3rem;
}

#toggle-scene-controls-3d::before {
    content: "▲";
}

#toggle-scene-controls-3d.collapsed::before {
    content: "▼";
}

#live-control {
    position: absolute;
    right: -0.8rem;
    top: -0.2rem;
}

#plane-control {
    margin-left: 15px
}

#scenescape-logo {
    margin-left: 30px;
}

.navbar-brand {
    margin-top: -10px;
}

.navbar-brand img {
    width: 100px;
    height: 33px;
    object-fit: cover;
}

#scene-controls-3d {
    width: 220px;
}

#cameras {
    position: absolute;
    right: 1rem;
    top: 0;
    width: 400px;
}

#cameras img {
    width: 400px;
}

#cameras .camera-name {
    color: #fff;
    font-weight: bold;
    padding: 5px;
    background-color: #000;
    opacity: 0.8;
    margin-top: 1rem;
    position: relative;
}

#cameras .camera-name .btn-sm {
    position: absolute;
    right: 0.3rem;
    top: 0.3rem;
    font-size: x-small;
}

.progress {
    display: none;
    margin-top: 0.25rem;
}

.progress-bar {
    width: 0%;
    color: white;
    text-align: center;
}

.width0 {
    width: 0%;
}

.width5 {
    width: 5%;
}

.width10 {
    width: 10%;
}

.width15 {
    width: 15%;
}

.width20 {
    width: 20%;
}

.width25 {
    width: 25%;
}

.width30 {
    width: 30%;
}

.width35 {
    width: 35%;
}

.width40 {
    width: 40%;
}

.width45 {
    width: 45%;
}

.width50 {
    width: 50%;
}

.width55 {
    width: 55%;
}

.width60 {
    width: 60%;
}

.width65 {
    width: 65%;
}

.width70 {
    width: 70%;
}

.width75 {
    width: 75%;
}

.width80 {
    width: 80%;
}

.width85 {
    width: 85%;
}

.width90 {
    width: 90%;
}

.width95 {
    width: 95%;
}

.width100 {
    width: 100%;
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

.float-right {
    float: right;
}

/* Toggle Button */
.lil-gui-toggle {
        -webkit-tap-highlight-color: transparent;
        position: relative;
        border: 0;
        outline: 0;
        cursor: pointer;
        margin: 2px;
}


/* To create surface of toggle button */
.lil-gui-toggle:after {
        content: '';
        width: 32px;
        height: 12px;
        display: inline-block;
        background: rgba(196, 195, 195, 0.55);
        border-radius: 16px;
        clear: both;
}


/* Contents before checkbox to create toggle handle */
.lil-gui-toggle:before {
        content: '';
        width: 16px;
        height: 16px;
        display: block;
        position: absolute;
        left: 0;
        top: -3px;
        border-radius: 50%;
        background: rgb(255, 255, 255);
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}


/* Shift the handle to left on check event */
.lil-gui-toggle:checked:before {
        left: 18px;
        box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
}
/* Background color when toggle button will be active */
.lil-gui-toggle:checked:after {
        background: #16a085;
}

.lil-gui-toggle-image:checked:before {
    background-image: url("images/rotate.svg");
}

.lil-gui-toggle-image:before {
    background-image: url("images/translate.svg");
}

.offline {
    height: 8px;
    width: 8px;
    background-color: #ff0000;
    border-radius: 50%;
    display: inline-block;
    float: right;
    margin-top: 6px;
  }

  .online {
    height: 8px;
    width: 8px;
    background-color: #00ff00;
    border-radius: 50%;
    display: inline-block;
    float: right;
    margin-top: 6px;
  }
